{
  "arrowParens": "always",
  "singleQuote": true,
  "quoteProps": "consistent",
  "tabWidth": 2,
  "printWidth": 100,
  "trailingComma": "es5",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["tsconfig.base.json", "workspace.json"],
      "options": {
        "printWidth": 500
      }
    }
  ]
}
