language: node_js
node_js: '10'
sudo: false
cache: yarn
stages:
- test
- deploy
install:
- curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.7.0
- export PATH=$HOME/.yarn/bin:$PATH
- yarn global add lerna
- yarn --silent --non-interactive --ignore-scripts
jobs:
  include:
  - script: commitlint-travis || travis_terminate 1
  - before_install:
    - node --version
    - yarn --version
    before_script: ./node_modules/.bin/greenkeeper-lockfile-update
    script: yarn prepare || travis_terminate 1
    after_script: ./node_modules/.bin/greenkeeper-lockfile-upload
  - script:
    - yarn prepare:fscodestyle
    - yarn lint || travis_terminate 1
  - script: yarn test --coverage --ci && cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js || travis_terminate 1
  - script:
    - yarn prepare
    - yarn build:storybook || travis_terminate 1
  - language: android
    if: type = pull_request
    android:
      components:
      - build-tools-26.0.2
      - build-tools-25.0.3
      - build-tools-23.0.1
      - android-26
      - android-23
      - extra-android-m2repository
      - extra-google-google_play_services
      - extra-google-m2repository
      - addon-google_apis-google-26
      - addon-google_apis-google-23
    before_install:
    - nvm install 10
    - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.7.0
    - export PATH=$HOME/.yarn/bin:$PATH
    - node --version
    - yarn --version
    script:
    - yarn prepare
    - yarn ship:init
    - yarn ship:compile-android || travis_terminate 1
  - language: objective-c
    if: type = pull_request
    os: osx
    osx_image: xcode9.4
    before_install:
    - nvm install 10
    - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.7.0
    - export PATH=$HOME/.yarn/bin:$PATH
    - node --version
    - yarn --version
    script:
    - yarn prepare
    - yarn ship:init
    - yarn ship:compile-ios || travis_terminate 1
  - language: objective-c
    if: type = push AND branch = master
    os: osx
    osx_image: xcode9.4
    env:
    - KEY_CHAIN=ios-build.keychain
    before_install:
    - nvm install 10
    - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.7.0
    - export PATH=$HOME/.yarn/bin:$PATH
    - node --version
    - yarn --version
    script:
    - yarn prepare
    - yarn ship:build-ios || travis_terminate 1
  - stage: deploy
    if: branch = master AND head_branch IS blank
    before_install: npm config set //registry.npmjs.org/:_authToken=${NPM_TOKEN} -q
    script:
    - yarn prepare
    - yarn docs
    after_success: yarn run release --canary --yes --exact --registry "https://registry.npmjs.org/"
    deploy:
      provider: pages
      skip-cleanup: true
      github-token: "$GITHUB_TOKEN"
      local-dir: docs/
      on:
        branch: master
