<?xml version="1.0" encoding="utf-8"?>
<network-security-config><% if (exceptionDomains.length) { %>
  <domain-config cleartextTrafficPermitted="true"><% for(const exceptionDomain of exceptionDomains){  %>
    <domain includeSubdomains="true"><%= exceptionDomain %></domain><%} %>
  </domain-config><% } %>
  <debug-overrides>
    <trust-anchors>
      <certificates src="user" />
    </trust-anchors>
  </debug-overrides>
</network-security-config>
