rootProject.name = '<%= className %>'
apply from: file("<%= rootOffset %>../node_modules/@react-native-community/cli-platform-android/native_modules.gradle"); applyNativeModulesSettingsGradle(settings)
include ':app'

