//
//  EnvSwitcher.h
//  <%= className %>
//
//  Created by Guanxiong Ding on 4/11/18.
//  Copyright © 2018 Branding Brand. All rights reserved.
//

#import <Foundation/Foundation.h>

@interface EnvSwitcher : NSObject

@end
