.logo {
  padding-right: 10px;
  min-width: 25px;
}

.container-header {
  display: flex;
  align-items: center;
}

.packageName {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.tsd-comment.tsd-typography h1 {
  line-height: normal;
}

#storybook {
  margin-bottom: 30px;
  border-top: none;
}

#storybook-link {
  font-weight: bold;
  color: #FF4D56;
}
