<div id="lottie" class="absolute w-full bottom-0"></div>
<script>
  import Lottie from "lottie-web";

  Lottie.loadAnimation({
    container: document.getElementById("lottie") as HTMLElement,
    path: "data.json",
    renderer: "svg",
    loop: true,
    autoplay: true,
  });
</script>
