---
import { IGNORE_DIRS } from "../lib/config";

export interface Props {
  url: string;
  lang: string;
}

const { url, lang } = Astro.props;

const paths = url.split("/").filter((it) => it);

const path = (value: string): string =>
  `/${paths.slice(0, paths.findIndex((el) => el === value) + 1).join("/")}`;

const lastIndex = (arr: string[]) => {
  const length = arr.length;

  return arr[length - 1];
};

const padName = (el: string, arr: string[]) => {
  const index = arr.findIndex((it) => it === el);

  if (paths[index - 1] === "plugins") {
    return `plugin-${el}`;
  }

  return el;
};
---

<div class="flex flex-row items-center justify-start gap-2 mt-2 flex-wrap">
  {
    paths
      .filter((it) => !IGNORE_DIRS.includes(it))
      .map((it: string) => {
        switch (it) {
          case `${lang}`:
            return (
              <>
                <a href="/flagship/">
                  <button class="items-center p-1 border-2 rounded-lg flexjustify-center border-code-charcoal dark:border-slate-300 hover:border-code-light-blue dark:hover:border-code-light-blue">
                    <svg
                      class="fill-code-charcoal dark:fill-code-light-grey"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                    >
                      <path d="m12 5.561l-7 5.6V19h5v-4h4v4h5v-7.358a1 1 0 0 0-.375-.781L12 5.561ZM12 3l7.874 6.3A3 3 0 0 1 21 11.641V19a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-7.839A2 2 0 0 1 3.75 9.6L12 3Z" />
                    </svg>
                  </button>
                </a>
                <svg
                  class="fill-current"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                >
                  <path d="m9.005 4l8 8l-8 8L7 18l6.005-6L7 6z" />
                </svg>
              </>
            );
          default:
            return (
              <>
                {lastIndex(paths) === it ? (
                  <a>
                    <button class="px-2 py-1 border-2 rounded-lg border-code-charcoal dark:border-slate-300 hover:border-code-light-blue dark:hover:border-code-light-blue">
                      <div class="text-sm text-code-charcoal dark:text-code-light-grey">{padName(it, paths)}</div>
                    </button>
                  </a>
                ) : (
                  <>
                    <a href={path(it)}>
                      <button class="px-2 py-1 border-2 rounded-lg border-code-charcoal dark:border-slate-300 hover:border-code-light-blue dark:hover:border-code-light-blue">
                        <div class="text-sm text-code-charcoal dark:text-code-light-grey">{padName(it, paths)}</div>
                      </button>
                    </a>
                    <svg
                      class="fill-current"
                      width="16"
                      height="16"
                      viewBox="0 0 24 24"
                    >
                      <path d="m9.005 4l8 8l-8 8L7 18l6.005-6L7 6z" />
                    </svg>
                  </>
                )}
              </>
            );
        }
      })
  }
</div>
