---
import { IGNORE_DIRS } from "../lib/config";

export interface Props {
  url: string;
  lang: string;
}

const { url, lang } = Astro.props;

const paths = url.split("/").filter((it) => it);

const path = (value: string): string =>
  `/${paths.slice(0, paths.findIndex((el) => el === value) + 1).join("/")}`;

const lastIndex = (arr: string[]) => {
  const length = arr.length;

  return arr[length - 1];
};

const padName = (el: string, arr: string[]) => {
  const index = arr.findIndex((it) => it === el);

  if (paths[index - 1] === "plugins") {
    return `plugin-${el}`;
  }

  return el;
};
---

<div class="flex flex-row flex-wrap items-center justify-start gap-2 mt-2">
  {
    paths
      .filter((it) => !IGNORE_DIRS.includes(it))
      .map((it: string) => {
        switch (it) {
          case `${lang}`:
            return (
              <>
                <a href="/" class="breadcrumb">
                  <div>home</div>
                </a>
                <svg
                  class="fill-current"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                >
                  <path d="m9.005 4l8 8l-8 8L7 18l6.005-6L7 6z" />
                </svg>
              </>
            );
          default:
            return (
              <>
                {lastIndex(paths) === it ? (
                  <a class="breadcrumb">
                    <button>
                      <div>{padName(it, paths)}</div>
                    </button>
                  </a>
                ) : (
                  <>
                    <a href={path(it)} class="breadcrumb">
                      <div>{padName(it, paths)}</div>
                    </a>
                    <svg
                      class="fill-current"
                      width="16"
                      height="16"
                      viewBox="0 0 24 24"
                    >
                      <path d="m9.005 4l8 8l-8 8L7 18l6.005-6L7 6z" />
                    </svg>
                  </>
                )}
              </>
            );
        }
      })
  }
</div>
