---
import GithubLogo from "./github-logo.astro";
import ThemeToggle from "./theme-toggle.astro";
import FlagshipCode from "./flagship-code.astro";
import SidebarToggle from "../components/sidebar-toggle.astro";
---

<nav
  class="sticky top-0 flex flex-row items-center justify-between h-20 px-6 py-4 md:px-16 bg-code-white dark:bg-code-charcoal"
>
  <div class="flex flex-row items-center gap-4">
    <a href="/" class="flex">
      <button>
        <FlagshipCode />
      </button>
    </a>
  </div>
  <div class="flex flex-row items-center justify-center gap-4">
    <ThemeToggle id={"theme-toggle-navigation"} />
    <a
      href="https://github.com/brandingbrand/flagship/tree/feat/flagship-12"
      class="flex"
      ><button class="h-8 w-8">
        <GithubLogo />
      </button>
    </a>
    <SidebarToggle />
  </div>
</nav>
