---
import { SIDEBAR } from "../lib/config";
import ThemeToggle from "./theme-toggle.astro";
---

<div
  id="sidebar"
  class="sticky top-20 h-0 md:h-auto max-h-[calc(100vh-80px)] flex-col justify-start overflow-y-auto bg-default transition-colors duration-300 md:max-h-[calc(100vh-96px)]"
>
  <ul class="pr-4 pb-28 text-code-black dark:text-code-light-grey md:pb-0">
    {
      Object.entries(SIDEBAR).map(([header, children]) => (
        <li>
          <div>
            <h2 class="text-xl font-semibold transition-colors duration-300 sm:text-lg text-code-black dark:text-code-light-grey">
              {header}
            </h2>
            <ul class="mb-2">
              {children.map((child) => {
                const url = Astro.site?.pathname + child.link;
                const isActive = url === child.link;
                return (
                  <li>
                    <a
                      href={child.link}
                      aria-current={isActive ? "page" : false}
                      class={`text-md block py-2 transition-colors pl-4 border-r-2 dark:border-code-light-grey dark:hover:border-code-light-blue border-code-charcoal hover:border-code-light-blue dark:hover:bg-code-grey dark:hover:bg-opacity-20 hover:bg-code-light-blue hover:bg-opacity-20 rounded-l-lg ${
                        Astro.url.pathname.includes(child.link)
                          ? "dark:bg-code-grey dark:bg-opacity-20 bg-code-light-blue bg-opacity-20"
                          : ""
                      }`}
                    >
                      <span>{child.text}</span>
                    </a>
                  </li>
                );
              })}
            </ul>
          </div>
        </li>
      ))
    }
  </ul>
  <div class="sticky bottom-0 py-6 bg-code-white dark:bg-code-charcoal md:hidden">
      <ThemeToggle id={"theme-toggle-sidebar"} />
  </div>
</div>
