<div id="versions" class="mt-8 w-full h-10 flex flex-row gap-4 flex-wrap">
</div>

<script>
  const rawFiles = new URLSearchParams(location.search).get("versions");

  if (rawFiles) {
    const files = JSON.parse(rawFiles);
    const element = document.querySelector("#versions");

    if (element) {
      element.innerHTML += "<p class='text-slate-300'>Versions: </p>"
      element.innerHTML += files
        .map(
          (it: any) =>
            `
    <a
                    href="${location.href.replace(
                      /(v[\d]+?.[\d]+?.[\d]+?\?)/,
                      it + "?"
                    )}"
                    aria-current={isActive ? "page" : false}
                  >
                    <span>${it}</span>
                  </a>
    `
        )
        .join("");
    }
  }
</script>
