@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Markdown Styling */
  .markdown {
    @apply flex w-full flex-col items-start justify-start px-4 leading-relaxed text-slate-300 selection:bg-kernel-teal-200 selection:text-teal-400 dark:text-kernel-teal-100 dark:selection:bg-kernel-teal-100 dark:selection:text-slate-900;
  }
  .markdown h1 {
    @apply mt-8 mb-4 text-3xl font-extrabold;
  }
  .markdown h2 {
    @apply mt-8 mb-4 text-2xl font-semibold;
  }
  .markdown h3 {
    @apply mt-4 mb-2 text-xl font-semibold;
  }
  .markdown h4 {
    @apply mt-2 mb-1 text-base font-medium;
  }
  .markdown li {
    @apply list-none text-slate-900 dark:text-white;
  }
  .markdown ol > li {
    @apply mb-2 list-none;
  }
  .markdown p {
    @apply mb-4 dark:text-white;
  }
  .markdown a > p {
    @apply mb-0 text-sm;
  }
  .markdown a:not(.heading-link--hidden---effects) {
    @apply text-teal-400 underline decoration-slate-500 
          decoration-dotted underline-offset-2  
          hover:text-teal-600 dark:text-kernel-teal-200 
          dark:decoration-kernel-teal-200 dark:hover:text-kernel-teal-300;
  }

  :is([dir="rtl"]) .markdown a[rel~="noreferrer"] > span {
    @apply inline-flex -scale-x-100;
  }

  .markdown code {
    @apply break-words [direction:ltr] [unicode-bidi:embed] lg:break-normal;
  }

  .markdown .code-wrapper {
    @apply inline rounded border border-kernel-teal-200 bg-kernel-teal-200/40 px-0.5 py-[0.5px] dark:border-kernel-teal-400/30 dark:bg-kernel-teal-400/20;
  }

  .markdown .remark-code-title {
    @apply z-10 -mb-1 mt-3 w-full rounded-t-md border border-kernel-teal-300/80 bg-[#191724] px-2 py-1 font-mono text-kernel-teal-200;
  }

  .markdown pre {
    @apply mx-auto mb-3 rounded border border-kernel-teal-300/80 p-2 pl-3 font-mono shadow-xl sm:pt-2;
  }

  .markdown ol {
    @apply w-full;
  }

  .markdown details {
    @apply mt-2 w-full rounded-md border border-kernel-teal-300/80 bg-[#191724] px-3 transition-all duration-300 ease-in-out;
  }
  .markdown details[open] {
    @apply bg-kernel-teal-200/10;
  }
  .markdown details pre {
    @apply border-0 shadow-none;
  }
  .markdown details > summary {
    @apply cursor-pointer text-[#A6ACCD];
  }
  .markdown summary {
    @apply py-3;
  }

  .markdown p > img {
    @apply mt-8 text-sm;
  }
  .markdown table > tbody > tr > td > a {
    overflow-wrap: anywhere;
  }
  .markdown table {
    @apply max-w-full table-fixed;
  }
  .markdown table > tbody > tr > td {
    @apply align-top;
    @apply pr-20;
    @apply border-b-2;
    @apply border-b-zinc-800
  }
  .markdown table > tbody > tr:last-child > td {
    @apply border-0
  }
  .markdown table > thead > tr > th {
    @apply border-b-2;
    @apply border-b-zinc-800
  }
  .markdown blockquote a {
    @apply text-slate-900 dark:text-kernel-teal-50;
  }
  .DocSearch-SearchBar {
    @apply my-3 rounded-md bg-purple-400 p-2 text-sm;
  }

  #DocSearch-SearchBar {
    @apply my-3 rounded-md bg-purple-400 p-2 text-sm;
  }

  .embed {
    @apply relative mb-2 h-0 w-full pb-[56.25%];
  }

  .embed iframe {
    @apply absolute top-0 left-0 h-full w-full;
  }
}
