name: PR Test

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 25

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - name: Use Node.js
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8
        with:
          node-version: 20
      - name: Setup Ruby
        uses: ruby/setup-ruby@5f19ec79cedfadb78ab837f95b87734d0003c899
        with:
          ruby-version: "3.1"
      - name: Install dependencies
        run: yarn
      - name: Build packages
        run: yarn build
      - name: Run tests
        run: yarn test
      - name: Initialize react native app
        run: yarn workspace @brandingbrand/code-example prebuild --build internal --env prod --platform android
